<div class="container">
  <div class="row content">
    <div class="span7">
  <% @tag.posts.each do |post| %>
    <div class="box-wrap">
         <h3 class="box-title">
            <u><%= link_to post.title, post.url, target: '_blank' %></u>
        <span class="pull-right meta">by <%= link_to post.user.username, post.user%>
</span>
</h3>

  <div class="box-data clearfix">
      <div class="box-services">
          <p class="tags clearfix">
          	<% post.tags.each do |tag| %>
            	<%= link_to tag.name, tag%>
             <% end %>
           </p>
            </div>
            <div class="box-description">
                <p><%= post.description %></p>
            </div>
            <button class="btn btn-mini btn-inverse show-extra-info" type="button">Seen it</button>
            <button class="btn btn-mini btn-inverse show-extra-info" type="button">Watch later</button>
            <button class="btn btn-mini btn-inverse show-extra-info" type="button">Add to Favorites</button>
            <button class="btn btn-mini btn-inverse show-extra-info" type="button">Like</button>
            <button class="btn btn-mini btn-inverse show-extra-info" type="button">Dislike</button>
        </div>
    </div>
    <% end %>
  </div>
  <div class="span5">
  </div>
</div>
</div>